/*

!minaEngine/
!minaEngine/**

!dependencies/
!dependencies/**

!CMakeLists.txt
!CMakePresets.json
!*.cmake

!.gitignore
!.gitattributes
!.gitmodules

!LICENSE
!LICENSE.md
!license.txt
!README.md

/build/
/bin/